

img {
  width: 100px;
}

.navbar {
  background-color: #39b603;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffcf00;
}

.nav-link:link {
  color: white;
}
.nav-link:visited {
  color: rgb(210, 242, 247);
}

.nav-link:active {
  color: #ffb200;
}
