@media  (max-width: 768px) {
    .navbar-large{
        display: none;
    }
}
@media  (min-width: 768px) {
    .navbar-small{
        display: none;
    }
}
.navbar{
    background-color: #03a4b6cb;
    display: flex;
    justify-content: center;
}

img{
    width: 100px;
}

.navbar-large{
   
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
}

.nav-link:hover {
    color: #ffcf00;
}

.nav-link:link{
    color: white;
}
.nav-link:visited {
    color: rgb(210, 242, 247)
}

.nav-link:active{
    color: #ffb200;
}