.float-start {
  width: 100px;
  margin-top: -13px;
  border-radius: 50%;
  background-color: #03a4b6;
}

.navbar {
  background-color: #03a4b6;
  display: flex;
  justify-content: center;
  
  z-index: 2000;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}

.navbar-links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

}




.nav-link:hover {
  color: #ffcf00;
}

.nav-link:link {
  color: white;
}
.nav-link:visited {
  color: rgb(210, 242, 247);
}

.nav-link:active {
  color: #ffb200;
}
