.teal {
  background-color: #03a5b6;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.fullwidth {
  background-color: #ffb200;
  width: 100%;
  display: flex;
  justify-content: center;
}

.videoplayer {
  justify-self: center;
}

.marketing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


