.subscribe-form-container{
    margin: 60px;
    background-color: #03a5b6;
    padding: 30px;
    border-radius: 10px;
}

.button{
    color: white;
    background-color: #ffb200;
    border: 1px solid #ffcf00;
    border-radius: 5px;
    padding: 5px;

}

.field{
    margin: 5px;
}




