.page-content {
  background-image: linear-gradient(
    to right,
    #03a5b6,
    white,
    white,
    white,
    white,
    #03a5b6
  );
  display: flex;
  justify-content: center;
  padding: 30px;
}

.service-card {
  border-radius: 10px;
}

.service-description {
  color: black;
}
