.page-content {
  background-image: linear-gradient(
    to right,
    #03a5b6,
    white,
    white,
    white,
    white,
    #03a5b6
  );
  display: flex;
  justify-content: center;
  padding: 30px;
}

.mobile-message {
  display: none;
  color: black;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .page-content {
    padding-left: 30px;
  }
  .mobile-message {
    display: inline;
  }
}
.service-card {
  border-radius: 10px;
}

.service-description {
  color: black;
}
