@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

.form-header {
  font-family: modak;
  color: #ffb200;
  text-shadow: 1px 1px 1px black;
  margin-bottom: -30px;
}

.start-headline {
  text-shadow: 1px 1px 1px black;
  color: #ffb200;
  font-size: 80px;
  font-style: italic;
  text-align: center;
  font-family: "Modak";
}

.subheader {
  color: black;
  font-family: alegreya;
  font-size: 30px;
  margin-right: -10px;
  margin-top: -80px;
}

.subsubheader {
  color: black;
  margin-bottom: -50px;
}

.KB-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  justify-self: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 60vh;
  padding-top: 3rem;
  background-color: white;
  max-width: 800px;
  min-width: 400px;
}

.field {
  border: 1px solid #03a4b6;
  min-width: 300px;
}

.small-text {
  font-size: 10px;
  margin-bottom: 0;
}

.fa {
  margin: 12px 6px;
}

.fa-solid {
  color: #03a5b6;
}

.not-yet {
  color: #ffb200;
}

.form-navigation-active {
  box-shadow: 0 0 5px 1px #ffcf00, 0 0 5px 3px #ffcf00 inset;
  border-radius: 50%;
}

.text-danger {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 0;
}

.next-button {
  background-color: #03a5b6;
  font-size: 200px;
}

.tandc {
  background-color: rgb(226, 225, 225);
  padding: 10px;
  border-radius: 5px;
}

.range-display {
  margin-left: 20px;
  font-size: 2rem;
  color: #ffb200;
}

.faq-blurb {
  max-width: 400px;
  background-color: rgb(226, 225, 225);
  padding: 10px;
  color: black;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .form {
    padding: 40px;
  }
}